<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <servers>
    <server>
      <id>muleforge.webdav.releases</id>
      <username>erichleipold</username>
      <password>Ripper01</password>
    </server>
    <server>
      <id>muleforge.webdav.snapshots</id>
      <username>erichleipold</username>
      <password>Ripper01</password>
    </server>
    <server>
      <id>muleforge.webdav.sites</id>
      <username>erichleipold</username>
      <password>Ripper01</password>
    </server>
  </servers>
</settings>

